<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %>
    <% if task.completed  %>
        <i class="fa fa-check-square-o"></i>
      <% else %>
        <i class="far fa-times-square"></i>
    <% end %>
  <% end %>
  </li>

</ul>
<%= link_to "Agregar nueva task", tasks_new_path %>
